.App {
  background-color: rgb(36, 34, 34);
}
.fullname {
  display: flex;
  justify-content: center;
  color: rgb(223, 208, 208);
  margin-bottom: 45px;
}
.followbtn {
  margin-top: 25px;
  width: 100%;
}
.title,
p,
.footer-copyright {
  color: brown;
}
.lista {
  display: flex;
  justify-content: space-between;
}
.title {
  display: flex;
  justify-content: center;
  margin-left: 30px;
}
